<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멀티버스 월드</title>
    <link rel="stylesheet" href="../public/music.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/character.css">
    <link rel="stylesheet" href="../public/weather.css">
    <link rel="stylesheet" href="../public/moviePoster.css">
    <link rel="stylesheet" href="../public/chat.css">
    <link rel="stylesheet" href="../public/news.css">

</head>
<body>
    <header>
        <div class="topLogo">
            <img src="../Img/Other/logo.png" alt="로고 이미지">
            <h1>멀티버스 월드</h1>
        </div>
    </header>

    <div class="nav-container">
        <nav>
            <ul>
                <li><button onclick="navigateTo('https://www.naver.com/')">Naver</button></li>
                <li><button onclick="navigateTo('https://www.daum.net')">Daum</button></li>
                <li><button onclick="navigateTo('https://www.google.com')">Google</button></li>
                <li><button onclick="navigateTo('https://www.youtube.com')">Youtube</button></li>
                <li><button onclick="navigateTo('https://www.instagram.com')">Instagram</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr')">SCNU</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr/scnusw/main.do')">SCNU SW</button></li>
                <li><button onclick="navigateTo('https://github.com/')">Git</button></li>
            </ul>
        </nav>
    </div>
<div class="main-wrapper">
    <div class="main-container">
        <div class="top-content">
            <div class="character-container">
                <div class="character-box">
                    <div class="image-box">
                        <img id="selectedCharacterImg" src="../Img/Charater/Character/Character_1.png" alt="Image">
                    </div>
                    <div class="characterSetting-box">
                        <button type="button" class="characterSetting-button" onclick="openModal()">캐릭터 선택</button>
                    </div>
                </div>
            
                <!-- The Modal -->
                <div id="characterModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <div class="character-icons" id="characterIcons">
                            <img src="../Img/Charater/Icon/icon_1.png" alt="Character 1" onclick="selectCharacter(0)">
                            <img src="../Img/Charater/Icon/icon_2.png" alt="Character 1" onclick="selectCharacter(1)">
                            <img src="../Img/Charater/Icon/icon_3.png" alt="Character 1" onclick="selectCharacter(2)">
                            <img src="../Img/Charater/Icon/icon_4.png" alt="Character 1" onclick="selectCharacter(3)">
                            <img src="../Img/Charater/Icon/icon_5.png" alt="Character 1" onclick="selectCharacter(4)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="humor-box">
                    <div class="joke-box" id="jokeBox">
                        <p id="jokeText">페이지 로딩 중입니다...</p>
                    </div>
            </div>
            <div class="music-box">
                <div class="music-container" id="musicContainer">
                    <div class="music-info">
                        <h5 id="musictitle">lucky girl syndrome</h5>
                        <div class="progress-container" id="progress-container">
                            <div class="progress" id="progress"></div>
                        </div>
                    </div>
                    <audio id="audio" src="../music/lucky girl syndrome.m4a" onloadstart="this.volume=0.5" autoplay></audio>
                    <div class="img-container">
                        <img src="../Img/Music/post.jpg" alt="cover" id="cover">
                    </div>
                    <div class="navigation">
                        <button id="prev" class="action-btn"><i class="fa-sharp fa-solid fa-backward"></i></button>
                        <button id="play" class="action-btn big"><i class="fa-solid fa-play"></i></button>
                        <button id="next" class="action-btn"><i class="fa-sharp fa-solid fa-forward"></i></button>
                    </div>
                </div>
            </div>
            <div class="gptchat">
                <div id="response"></div>
                <div class="input-container">
                  <input type="text" id="question" placeholder="질문을 입력하세요">
                  <button onclick="getAnswer()">답변 받기</button>
                </div>
            </div>
            <div class="robotImg">
                <img src="../Img/Charater/Character/robot.gif">
            </div>
        </div>

        <div class="imformation-content">
            <div class="movie-box">
                <div class="slider">
                    <button id="prev-btn" class="slide-btn">&lt;</button>
                    <div class="slider-wrapper" id="slider-wrapper">
                        <div class="slider-content" id="slider-content"></div>
                    </div>
                    <button id="next-btn" class="slide-btn">&gt;</button>
                </div>
            </div>
            <div class="weather-box">
                <div id="weatherWidget">
                    <div id="weatherInfo"></div>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="temperatureChartContainer">
                            <h1>순천 날씨<h1>
                            <canvas id="temperatureChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="news-box">
            <div id="news"></div>
        </div>
    </div>
</div>

<script src="../script/music.js"></script>
<script src="../script/weatherWidget.js"></script>
<script src="../script/main.js"></script>
<script src="../script/moviePoster.js"></script>
<script src="../script/humor.js"></script>
<script src="../script/chat.js"></script>
<script src="../script/character.js"></script>
<script src="../script/news.js"></script>
<script src="https://kit.fontawesome.com/412379eca8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
</body>
</html>