*{margin: 0; padding: 0; box-sizing: border-box;}

header{height: 40px; background: red; position:relative;}

header .topLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 30px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container nav {
    grid-column: span;
    background-color: #f5f2da;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-container nav ul li {
    flex: 1;
}

.nav-container nav ul li button {
    width: 100%;
    padding: 14px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 12px;
    font-family: 'Freesentation-9Black', Arial, sans-serif;
}

.nav-container nav ul li button:hover {
    background-color: #f2eb86;
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

.main-container{
    width: 1280px;
}

.main-container .top-content{
    padding-top: 20px;
    display: grid;
    grid-gap: 10px;
    height: 460px;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(6,1fr);
}

.top-content .character-container{
    grid-column: 1;
    grid-row: 1/7;
}

.top-content .humor-box{
    grid-column: 2/4 ;
    grid-row: 1/3;
    border: 2px solid black;
}

.top-content .music-box{
    grid-column:4/5;
    grid-row:1/3;
    float:left;
}

.top-content .gptchat{
    grid-column: 2/5;
    grid-row: 3/7;
    border: 2px solid black;
}

.main-container .impormation-content{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 830px 420px;
    grid-gap: 30px;
    height: 240px;
}

.impormation-content .news-box{
    grid-column: 1;
    border: 2px solid black;
}

.impormation-content .weather-box{
    grid-column: 2;
    border: 2px solid black;
}

.main-container .ad-box{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ad-box .ad-item{
    height: 240px;
    border: 2px solid black;
}

