* {
    font-family: 'Jua', sans-serif;
  }
  
  body {
    background: #333;
  }
  
  #jumbotron {
    text-align: center;
    margin-top: 30px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button.active {
    background-color: #555;
  }
    
  .movie-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .movie-container:nth-child(even) {
    background-color: #555;
  }
  
  .movie-container:nth-child(odd) {
    background-color: #000000;
  }
  
  .movie-info {
    color: white;
  }
  
  .btn-container {
    margin-top: 10px;
  }
  