<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <header>
        <div class="topLogo">
            <h1>text</h1>
        </div>
        <audio controls>
            <source src="audio-file.mp3" type="audio/mpeg">
        </audio>
    </header>

    <div class="nav-container">
        <nav>
            <ul>
                <li><button onclick="navigateTo('https://www.naver.com/')">Naver</button></li>
                <li><button onclick="navigateTo('https://www.daum.net')">Daum</button></li>
                <li><button onclick="navigateTo('https://www.google.com')">Google</button></li>
                <li><button onclick="navigateTo('https://www.youtube.com')">Youtube</button></li>
                <li><button onclick="navigateTo('https://www.instagram.com')">Instagram</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr')">SCNU</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr/scnusw/main.do')">SCNU SW</button></li>
                <li><button onclick="navigateTo('https://github.com/')">Git</button></li>
            </ul>
        </nav>
    </div>
<div class="main-wrapper">
    <div class="main-container">
        <div class="top-content">
            <div class="character-container">
                
            </div>
            <div class="humor-box">

            </div>
            <div class="gptchat">

            </div>
        </div>

        <div class="impormation-content">
            <div class="news-box">

            </div>
            <div class="weather-box">

            </div>
        </div>

        <div class="ad-box">
            <div class="ad-item">

            </div>
        </div>
    </div>
</div>
</body>
</html>