<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/music.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/character.css">
    <link rel="stylesheet" href="../public/weather.css">

    <script src="https://kit.fontawesome.com/412379eca8.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <div class="topLogo">
            <h1>text</h1>
        </div>
    </header>

    <div class="nav-container">
        <nav>
            <ul>
                <li><button onclick="navigateTo('https://www.naver.com/')">Naver</button></li>
                <li><button onclick="navigateTo('https://www.daum.net')">Daum</button></li>
                <li><button onclick="navigateTo('https://www.google.com')">Google</button></li>
                <li><button onclick="navigateTo('https://www.youtube.com')">Youtube</button></li>
                <li><button onclick="navigateTo('https://www.instagram.com')">Instagram</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr')">SCNU</button></li>
                <li><button onclick="navigateTo('https://www.scnu.ac.kr/scnusw/main.do')">SCNU SW</button></li>
                <li><button onclick="navigateTo('https://github.com/')">Git</button></li>
            </ul>
        </nav>
    </div>
<div class="main-wrapper">
    <div class="main-container">
        <div class="top-content">
            <div class="character-container">
                <div class="character-box">
                    <div class="image-box">
                        <img src="../Img/Charater/Character/Character_1.png" alt="Image">
                    </div>
                    <div class="login-box">
                        <form action="login_process.php" method="post">
                            <button type="submit" class="login-button">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="humor-box">

            </div>
            <div class="music-box">
                <div class="music-container" id="musicContainer">
                    <div class="music-info">
                        <h5 id="musictitle">lucky girl syndrome</h5>
                        <div class="progress-container" id="progress-container">
                            <div class="progress" id="progress"></div>
                        </div>
                    </div>
                    <audio id="audio" src="../music/music.m4a" onloadstart="this.volume=0.5" autoplay></audio>
                        <div class="img-container">
                    <img src="../Img/Music/post.jpg" alt="cover" id="cover">
                        </div>
                        <div class="navigation">
                            <button id="prev" class="action-btn"><i class="fa-sharp fa-solid fa-backward"></i></button>
                            <button id="play" class="actiong-btn big"><i class="fa-solid fa-play"></i></button>
                            <button id="next" class="actiong-btn"><i class="fa-sharp fa-solid fa-forward"></i></button>
                        </div>
                </div>
            </div>
            <div class="gptchat">

            </div>
        </div>

        <div class="imformation-content">
            <div class="news-box">

            </div>
            <div class="weather-box">
                <div id="weatherWidget">
                    <div id="weatherInfo"></div>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="temperatureChartContainer">
                            <h1>순천 날씨<h1>
                            <canvas id="temperatureChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ad-box">
            <div class="ad-item">

            </div>
        </div>
    </div>
</div>

<script src="../script/music.js"></script>
<script src="../script/temperatureChartWidget.js"></script>
<script src="../script/weatherWidget.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>